body {
    padding: 0%;
    margin: 0%;
}
.bg {
    background-color:#294056;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
}

.bg-cntnt {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 7%;
    font-size: 220%;
}
.bg2 {
    background-position: center;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: center;
    background-color:#031629 ;
}

.bg2-cntnt {
    padding-top: 7%;
    font-size: 290%;
    background-color:#031629;
}

.row {
    margin: 0%;
}
.about2-1{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    padding-left: 8%;
    padding-right: 8%;
}
.about2{
    background-color: #031629;
    color: #ffffff;
    text-align: center;
    font-family: 'Raleway',sans-serif;
    padding-top: 7%;
    padding-bottom: 1%;
}
.footer {
    font-family: 'Raleway',sans-serif;
    color: #ffffff;
    margin: 0% 0%;
    background-color: black;
    background-position: center;
    background-size: cover;
}
.contact {
    background-color: black;
    padding-left: 2%;
}
.logo {
    background-color: black;
    display: flex;
    list-style-type: none;
    font-size: 10%;
}
.logo li{
    margin: 7% ;
}
